body {
    margin: 0;
    font-family:Roboto, arial, sans-serif;
}
canvas {
    cursor: crosshair;
    margin: 0;
}
.header {
    width:100%;
    background:DeepPink;
    padding:15px;
}
.menu{
    width:20%;
    height:20%;
    background-color:whitesmoke;
    border:dotted;
    position:absolute;
}
.textMenu{
    width:98%;
    align-items:center; /*che finocchi sono i commenti in sto css di merda... da sistemare btw*/
}
