body {
    margin: 0;
    font-family:Roboto, arial, sans-serif;
}
canvas {
    cursor: crosshair;
    margin: 0;
    width:800px;
    display: inline-block;
}
.header {
    background:DeepPink;
    padding:15px;
}
.maincol {
    overflow:auto;
}
.toolbar {
    padding: 10px;
    background: red;
}
.leftbar {
    float:left;
    padding:10px;
    height:100%;
    background: blue;
    display: inline-block;
}
.btn {
    background: white;
    display:inline-block;
    border-radius: 50%;
    border: 2px solid buttonface;
    padding: 8px;
}
.btn:hover {
    background: yellow;
}
